# dependencies
node_modules

# next.js
.next/

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# turbo
.turbo

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDE
.cursor
.windsurf
.agent
.agents
